WcfService1/Service References/SyncUnitService/SyncUnitService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:4547/SyncUnitService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iWS.FW.Framework.DTO" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="groupName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="syncName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iWS.FW.Framework.DTO" minOccurs="0" name="ExecuteResult" nillable="true" type="q1:WSResponseDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>