WcfService1/Service References/SyncUnitService/SyncUnitService32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/iWS.FW.Framework.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/iWS.FW.Framework.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="WSResponseDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsSuccess" type="xs:boolean" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WSResponseDto" nillable="true" type="tns:WSResponseDto" />
</xs:schema>