WcfClient/Service References/CustomerServices/CustomerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:9999/CustomerService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:9999/CustomerService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:9999/CustomerService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFHost" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICustomerService_GetCusomerName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCusomerName" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCusomerName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCusomerNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomer" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCustomerList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerList" />
  </wsdl:message>
  <wsdl:message name="ICustomerService_GetAllCustomerList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerListResponse" />
  </wsdl:message>
  <wsdl:portType name="ICustomerService">
    <wsdl:operation name="GetCusomerName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCusomerName" message="tns:ICustomerService_GetCusomerName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCusomerNameResponse" message="tns:ICustomerService_GetCusomerName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetCustomer" message="tns:ICustomerService_GetCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetCustomerResponse" message="tns:ICustomerService_GetCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomerList">
      <wsdl:input wsaw:Action="http://tempuri.org/ICustomerService/GetAllCustomerList" message="tns:ICustomerService_GetAllCustomerList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICustomerService/GetAllCustomerListResponse" message="tns:ICustomerService_GetAllCustomerList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="CustomerService" />
</wsdl:definitions>